* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}

.centering {
    min-height: 100svh;
    height: auto;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.centeringHorizontal {
    min-height: 100svh;
    height: auto;
    width: 100%;
    display: grid;
    justify-content: center;
    overflow: auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: grid;
    justify-content: center;
    background: #292929;
}

.maxSize {
    height: 100svh;
    width: 100%;
}